<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStore</title>
    @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClothingStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>
<body>
    <header>
       <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClothingStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>-->
                <nav>

            <div class="wrapper">
                <div class="left-box">
                   
                    <a class="nav-link" asp-area="" asp-controller="ProductDetails" asp-action="Cart"><img src="~/images/shopping_cart.png" alt="shopping cart"></a>
                </div>
                <div class="left-box">
                    @if(Accessor.HttpContext.Session.GetString("loginId") == null){
                        <form asp-controller="UserLogins" asp-action="Login">
                            <button type="submit"  class="btn" id="logButton">Login</button></form>

                    }else{
                        <form asp-controller="UserLogins" asp-action="LogOut">
                        <button type="submit" class="btn" id="logButton">Logout</button></form>
                    }

                </div>
                @if(Accessor.HttpContext.Session.GetString("loggedUserType") == "0")
                {
                     <form asp-controller="ProductDetails" asp-action="Index">
                            <button type="submit"  class="btn" id="inventory">Inventory</button></form>
                }

            </div>

            <div class="index">                
                <div class="drawer">
                    <div id="Logo">
                        <a href="index.html"><img  id='headerLogo' src="~/images/logo.png" alt="company logo"></a>
                    </div>
                </div>

                 <div class="menu">
                    <ul>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="ProductDetails" asp-action="Catalogue">PRODUCT</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>    
        </nav> 
    </header>
    <main>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </main>
     <footer>
        <div class="container4">
            <div class="row4-1">
                <a href="index.html" class="link_black"><img id='footerLogo' src="~/images/logo.png" alt="home" width="150px"></a>
                <p>123 Happy St., Ottawa, ON, Canada</p> 
                <p>(123) 456-7890</p>
                <p>mail@groupfive.ca</p>
            </div>  
            <div class="row4-2">
                <p><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">HOME</a></p>
                <p><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></p>
                <p><a class="nav-link" asp-area="" asp-controller="ProductDetails" asp-action="Index">ONLINE SHOP</a></p>
                <p><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></p>
            </div>
            <div class="row4-3">
                <h4>Order</h4>
                <p>Shopping cart</p>
                <p></p>

            </div>
            <div class="row4-4">
                <h4>Follow us</h4>
                <div class="sns">
                    <a href="https://www.facebook.com" target="_blank"><img src="~/images/Facebook.png" alt="Facebook"></a>
                    <a href="https://twitter.com" target="_blank"><img src="~/images/Twitter.png" alt="Twitter"></a>
                    <a href="https://www.instagram.com" target="_blank"><img src="~/images/Instagram.png" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="center">
            <p>© 2021 Group five</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
