
@{
    ViewData["Title"] = "Home Page";
}


    <main>
        <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
        <div class="grid-container">
            <div class="grid-item">
                <h2>Our Store</h2>
                <p>
                    We ensure your quality winter cloth shopping with <strong>Group Five</strong>!<br>
                    We are starting our new journey with curated collections of beautiful winter dresses.
                    Customers can purchase variety of fabrics at its best price and quality.
                    Our online store is upgraded with new trends of fashion world.
                    We gurantee that you will get an amazing shopping experience with us.
                </p>
            </div>
            <div class="grid-item">
                <img src="~/images/shop2.jpg" alt="Our Store" class="rigth">
            </div>
            <div class="grid-item">
                <img src="~/images/designer.jpg" alt="Our Designer">
            </div>
            <div class="grid-item">
                <h2>Our Designer</h2>
                <p>
                    We are presenting our well trained designers for making your clothes in unique designs.
                    Our experienced design experts are well trained in fabricating the designs that the
                    customers have in their mind. we are inviting you to experience our variety collection
                    of clothes that are designed by our designers.
                </p>
            </div>
        </div>
        <br /><br />
        <h2>Company Information</h2>
        <table class="company">
            <tr>
                <th>Address:</th>
                <td>123 Happy St., Ottawa, ON, Canada</td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td>(123) 456-7890</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>mail@groupfive.ca</td>
            </tr>
            <tr>
                <th>Operation Hours:</th>
                <td> Monday-Friday, 8am-5pm EST</td>
            </tr>
        </table>
        </section>
    </main>
