@{
    ViewData["Title"] = "Home Page";
}

 <main>
        <section>
            <div class="layer">
                <img src="~/images/top.jpg" alt="store top">
                <p>2022 New selection</p>
                <a href="./pages/catalogue.html">Shop the collection</a>
            </div>
            <div class="container3">
                <div class="row3-2">
                    <div class='space'><h1>Welcome</h1></div>
                    <p>
                        Here are Group Five, we care about the environment. All of our clothing is made 100% without 
                        harming any animals. We have many measures set in place such that none of our products are
                        ever the cause of animal abuse.
                    </p>
                    <p>
                        We are really excited to announce the launch of our new line of Winter 2021 clothes! All 
                        of the products in this line ensure that you'll be at the top of your fashion game coming 
                        this cold season.
                    </p>

                 </div>
            </div>
        </section>
        <section>
            <h2>New Arrival</h2>
            <div class="container-new-arrival">
                <div>
                    <div class="layerLeft">
                        <a asp-controller="ProductDetails" asp-action="Product" asp-route-id="11"><img src="~/images/11.jpg" alt="new arrived tops"></a>
                        <p>New</p>	
                    </div>
                </div>  
                <div>
                    <div class="layerLeft">
                        <a asp-controller="ProductDetails" asp-action="Product" asp-route-id="1"><img src="~/images/1.jpg" alt="new arrived bottoms"></a>
                        <p>New</p>	
                    </div>
                </div>
                <div>
                    <div class="layerLeft">
                        <a asp-controller="ProductDetails" asp-action="Product" asp-route-id="14"><img src="~/images/14.jpg" alt="new arrived tops"></a>
                        <p>New</p>	
                    </div>
                </div>
                <div>
                    <div class="layerLeft">
                        <a asp-controller="ProductDetails" asp-action="Product" asp-route-id="4"><img src="~/images/4.jpg" alt="new arrived bottoms"></a>
                        <p>New</p>	
                    </div>
                </div>
            </div>
        </section>
            <!-- <p class="right"><a href=#top><img src="~/images/arrow_up.png" alt="back to top"></a></p>  -->
    </main>
